.movieRow {
  margin-bottom: 30px;
}

.movieRow h2 {
  margin: 0 0 0 30px;
}

.movieRow-listarea {
  overflow-x: hidden;
}

.movie-list {
  padding-left: 30px;
  transition: all ease 0.5s;
}

.movieRow-left, .movieRow-right {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  height: 335px;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  transition: all ease 0.5s;
  width: 50px;
  z-index: 99;
}

.movieRow-left {
  left: 0;
}

.movieRow-right {
  right: 0;
}

.movieRow:hover .movieRow-left, .movieRow:hover .movieRow-right {
  opacity: 1;
}

@media ( max-width : 760px ) {

  .movieRow-left, .movieRow-right {
    opacity: 1;
  }
}
